.petslist_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.petslist_header h1 {
  margin: 0;
}

.petslist_header a {
  text-decoration: none;
  background-color: #16479d;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.5em 0.8em;
  border-radius: 5px;
  border: 2px solid #16479d;
}

.petslist_header a:hover {
  background-color: transparent;
  color: #16479d;
}

.petslist_container {
  display: flex;
  flex-direction: column;
}

.petlist_row {
  background-color: #0a0c21;
  padding: 1em;
  margin: 0.6em;
  display: flex;
  align-items: center;
  width: 100%;
}

.petlist_row img {
  margin-right: 1em;
}

.petlist_row span {
  min-width: 100px;
}

.actions {
  margin-left: auto;
}

.actions a,
.actions button {
  text-decoration: none;
  color: #16479d;
  border: 4px solid #16479d;
  border-radius: 5px;
  padding: 7px 12px;
  background-color: #fff;
  margin-left: 1em;
  cursor: pointer;
  transition: 0.3s;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.actions a:hover,
.edit {
  border: 4px solid yellow;
  background-color: rgb(199, 199, 34);
  color: #222;
}
.actions button:hover,
.del {
  border: 4px solid red;

  background-color: rgb(157, 63, 46);
  color: #fff;
}
@media (max-width: 462px) {
  .actions a,
  .actions button {
    margin: 2em;
  }
}
