.description_pet {
  width: 100%;
  margin-bottom: 32px;
  border: 1px solid #b7d0f5;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
}
.description_pet h3 {
  font-size: 28px;
  color: #6088c6;
  padding: 16px 16px;
}
.description_pet p {
  word-break: break-all;
}

.grid_pet_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #0a0c21;
  gap: 20px;
}

.img_container img {
  display: block;
  max-width: 100%;
}
.info_container {
  color: #ccc;
  padding: 20px;
  justify-self: center;
  align-self: center;
}
.info_container ul {
  list-style: none;
}
.info_container ul li {
  margin-bottom: 1em;
  font-size: 1.4rem;
}
.info_container ul li:last-child {
  margin-top: 70px;
}

.info_container ul li a {
  font-size: 1.7rem;
  font-weight: 500;
  color: #b7d0f5;
  text-decoration: none;
  cursor: pointer;
  transition: 0.6s;
  padding: 8px 16px;
  border-radius: 7px;
  border: 2px solid #b7d0f5;
}
.info_container ul li a:hover {
  font-size: 1.7rem;
  font-weight: 500;
  color: #0a0c21;
  text-decoration: none;
  cursor: pointer;
  background-color: #b7d0f5;
  text-decoration: underline;
}
.info_container ul li span {
  color: #b7d0f5;
  font-size: 1.7rem;
  font-weight: 500;
}
@media (max-width: 600px) {
  .grid_pet_info {
    grid-template-columns: 1fr;
  }
}
