.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
  margin-bottom: 2em;
  background-color: #0a0c21;
  color: #6088c6;
}
.navbar_logo {
  display: flex;
  align-items: center;
}

.navbar_logo img {
  width: 40px;
  margin-right: 0.8em;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar li,
.navbar a {
  text-decoration: none;
  color: #6088c6;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.5em 0.8em;
  border-radius: 5px;
  text-transform: uppercase;
}

.navbar li:hover > a {
  color: #b7d0f5;
  border-bottom: 1px solid #b7d0f5;
}
